<% content_for :title do %>
  Account -
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="/stylesheets/account.css">
<% end %>

<% content_for :javascript do %>
  <script src="/javascripts/account.js" type="text/javascript"></script>
<% end %>

<% content_for :nav do %>
  <ul>
    <li><a href="/play">play</a></li>
    <li><a id="logout" href="/logout">logout</a></li>
  </ul>
<% end %>

<table>
  <tr>
    <th>username:</th>
    <td id="username"><%= session[:username] %></td>
    <td><a id="edit_user_link" href="/account/edit/username">edit</a></td>
  </tr>
  <tr>
    <th>password:</th>
    <td>*****</td>
    <td><a id="edit_pass_link" href="/account/edit/password">edit</a></td>
  </tr>
</table>

<div id="stats">
  <p>leaderboard position: N/A</p>
  <p>Top: N/A</p>
  <p><a href="#">solutions</a></p>
</div>

<% if session[:error] %>
  <p class="flash-error">
    <%= session.delete(:error) %>
  </p>
<% end %>

<% if session[:success] %>
  <p class="flash-success">
    <%= session.delete(:success) %>
  </p>
<% end %>

<p id="frontendFlash" class="flash-error"></p>

<div id="delete_account">
  <p>
    <a href="#">delete account</a>
  </p>
</div>
