<% content_for :title do %>
  Edit Username -
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="/stylesheets/edit.css">
<% end %>

<% content_for :javascript do %>
  <script src="/javascripts/edit_username.js" type="text/javascript"></script>
<% end %>

<% content_for :nav do %>
  <ul>
    <li><a href="/account">account</a></li>
    <li><a href="/play">play</a></li>
    <li><a id="logout" href="/logout">logout</a></li>
  </ul>
<% end %>

<form action="#" method="post">
  <fieldset>
    <label for="new_username">New Username:</label>
    <input id="new_username" type="text" name="new_username" />
  </fieldset>
  <button type="submit">Submit</button>
</form>

<p id="flash-error"></p>
