<% content_for :title do %>
  Leaderboard -
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="/stylesheets/leaderboard.css">
<% end %>

<% content_for :javascript do %>
<% end %>

<% content_for :nav do %>
  <ul>
    <li><a href="/play">play</a></li>
    <% if session[:user_id] %>
      <li><a href="/account">account</a></li>
      <li><a id="logout" href="/logout">logout</a></li>
    <% else %>
      <li><a href="/login">login</a></li>
    <% end %>
  </ul>
<% end %>

<table>
  <tr>
    <th>user</th>
    <th>rank</th>
  </tr>
  <% @leaderboard.each do |tuple| %>
    <tr>
      <td><%= tuple[0] %></td>
      <td><%= tuple[1] %></td>
    </tr>
  <% end %>
</table>
