<% content_for :title do %>
  Solutions -
<% end %>

<% content_for :stylesheet do %>
  <link rel="stylesheet" href="/stylesheets/solutions.css">
<% end %>

<% content_for :javascript do %>
  <script src="/javascripts/solutions.js" type="text/javascript"></script>
<% end %>

<% content_for :nav do %>
  <ul>
    <li><a href="/play">play</a></li>
    <% if session[:user_id] %>
      <li><a href="/account">account</a></li>
      <li><a id="logout" href="/logout">logout</a></li>
    <% else %>
      <li><a href="/login">login</a></li>
    <% end %>
  </ul>
<% end %>

<section id="ladder" data-length="<%= @length %>">
  <ul>
    <% session[:ladder].words.each do |step| %>
      <li><%= step %></li>
    <% end %>
    <% if session[:error] %>
      <p id="backendFlash" class="flash-error">
        <%= session.delete(:error) %>
      </p>
    <% end %>
  </ul>
</section>

<div id="options">
  <ul>
    <li><a href="/new_game">next puzzle</a></li>
    <% if session[:complete_ladder] %>
    <li><a href="/play/victory">your solution</a></li>
    <% end %>
  </ul>
</div>
