#header_nav li {
  display: inline-block;
  margin-left: 80px;
}

form {
  width: 80%;
  margin: 80px auto 0 auto;
  font-size: 40px;
  font-family: var(--font-main);
}

input[type="text"] {
  widtH: 320px;
  font-size: 40px;
  font-family: var(--ladder);
}

input[type="password"] {
  widtH: 320px;
  font-size: 40px;
  font-family: var(--ladder);
}

button {
  font-size: 30px;
  font-family: var(--font-main);
}

#flash-error {
  visibility: hidden;
  text-align: center;
  font-size: 40px;
  font-family: var(--font-main);
  color: var(--maroon);
}

/* @media (orientation: landscape) { */
@media (min-width:1001px) {
  form {
    font-size: 20px;
  }

  input[type="text"] {
    font-size: 20px;
  }

  input[type="password"] {
    font-size: 20px;
  }

  button {
    font-size: 15px;
  }

  #flash-error {
    font-size: 20px;
  }
}
