#login_form {
  margin-top: 100px;
  font-size:40px;
  font-family: var(--font-main);
  text-align: center;
}

#signup_form {
  margin-top: 100px;
  font-size:40px;
  font-family: var(--font-main);
  text-align: center;
}

fieldset > * {
  margin: 20px 0;
}

button {
  font-size:40px;
  font-family: var(--font-main);
}

form input[type="text"] {
  font-size:40px;
  font-family: var(--ladder);
}

.flash-error {
  margin-top: 50px;
  font-size: 40px;
}

@media (orientation: landscape) {
  #login_form {
    font-size: 20px;
  }

  #signup_form {
    font-size: 20px;
  }

  button {
    font-size: 20px;
  }

  form input[type="text"] {
    font-size: 20px;
  }

  .flash-error {
    font-size: 20px;
  }
}
